{% include 'navbar.html' %}
{% load static %}

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="about-section">
  <h1>About Us</h1>
  <h2>Our team</h2>
  <p>This is Simple Enotes & Password Management System Develop by Muskan Malviya,Siddhesh Haldankar,Yash Pathare. using Python Django, HTML, CSS, Bootstrp and sqlite.</p>
  <p>This project anytime anywhere remember all queries of students Motivate peoples to use. Easy to use: E-Notes & password Management Project is very easy to use.</p>
</div>
<style>
  body{
    background: black;
  }
</style>
<br><br>

  

</body>
</html>



