{% extends 'usernavbar.html' %}
{% block main %}

<div class="pagetitle">
    <h1>Update Notes</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
            <li class="breadcrumb-item active">Update Notes</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section profile">
    <div class="row">

        <div class="col-xl-12">

            <div class="card">
                <div class="card-body pt-3">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered">

                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">
                                Edit Notes
                            </button>
                        </li>

                    </ul>
                    <div class="tab-content pt-2">

                        <div class="tab-pane fade show active profile-overview" id="profile-overview">
                            <form method="post">
                                {% csrf_token %}

                                <div class="row mb-3">
                                    <label class="col-md-4 col-lg-3 col-form-label">Title</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="Title" type="text" class="form-control" value="{{notes.Title}}">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-md-4 col-lg-3 col-form-label">Notes Description</label>
                                    <div class="col-md-8 col-lg-9">
                                        <textarea name="Content" class="form-control" style="height: 100px" required>{{notes.Content}}</textarea>
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                            </form><!-- End Profile Edit Form -->

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% if error == "no" %}
<script>
	   alert('Notes has been Updated.');
       window.location=('{% url 'viewNotes' %}');
</script>
{% endif %}

{% if error == "yes" %}
<script>
	    alert('Something went wrong, Try Again');
</script>
{% endif %}

{% endblock %}